@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.container {
  width: 90%;
  margin: auto;
}

img {
  width: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

header {
  background-image: url(../images/wanderer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00000042;
  background-blend-mode: multiply;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {}

.logo h2 {
  line-height: 1.3;
}

.logo h2 a {
  text-decoration: none;
  color: black;
  color: whitesmoke;
  font-size: 400;
}

.logo h2 a span {
  font-weight: bold;
  letter-spacing: 6px;
  color: coral;
  box-shadow: 1px 1px 0px whitesmoke;
}

nav {}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li:last-child {
  border: 2px solid white;
  border-radius: 30px;
  padding: 7px 14px;
}

/* banner section starts */
.banner {
  text-align: center;
  color: white;
  padding: 100px 0px 208px 0px;
}

.banner h3 {
  font-style: italic;
  font-size: 30px;
  margin-bottom: -2px;
}

.banner h1 {
  font-size: 55px;
}

.banner span {
  background-color: coral;
  height: 4px;
  width: 123px;
  display: block;
  margin: auto;
}

.banner button {
  padding: 14px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  background-color: #ff7f50;
  color: white;
  letter-spacing: 4px;
  font-weight: bold;
}

/* upcoming section */
.upcoming {
  text-align: center;
  margin: 50px 0 70px;
}

.upcoming h2 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.upcoming span {
  background-color: coral;
  height: 4px;
  width: 123px;
  display: block;
  margin: 0px auto 30px;
}

.upcoming_below {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.content_below {
  width: 97%;
}

.content_below img {
  width: 97%;
  border-radius: 10px;
  box-shadow: 9px 9px 4px #ff7f508f;
}

.content_below h4 {
  font-size: 20px;
}

.content_below p {
  font-size: 17px;
  text-align: center;
}

.content_below a {
  text-decoration: none;
  letter-spacing: 3px;
  color: coral;
  font-size: 17px;
  font-weight: bold;
}

/* explorer section */
.explore_main {
  padding: 250px 0;
  background-image: url(../images/father.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #1767d6b8;
  background-attachment: fixed;
}

.explore {
  display: flex;
}

.explore_item {
  color: whitesmoke;
  width: 50%;
}

.explore_item h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.explore_item span {
  background-color: coral;
  height: 4px;
  width: 123px;
  display: block;
  margin: 0px 0 30px;
}

.explore_item p {}

.explore_item a {
  display: block;
  width: 80%;
  text-align: right;
  text-decoration: none;
  letter-spacing: 3px;
  color: coral;
  font-size: 20px;
  font-weight: bold;
}

/* tour section starts */
.tour {
  display: flex;
  margin: 50px 0;
}

.tour-item {
  width: 33.33%;
  margin: 7.5px;
}

.tour-item h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.tour-item span {
  background-color: coral;
  height: 4px;
  width: 123px;
  display: block;
  margin: 0px 0 30px;
}

.tour-item p {
  margin: 50px 0;
  font-size: 17px;
}

.tour-item button {
  padding: 14px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  background-color: #ff7f50;
  color: white;
  letter-spacing: 4px;
  font-weight: bold;
}

.tour-item .img-1 {
  height: 400px;
  object-fit: cover;
  margin: 0 0 10px 0;
}

.tour-item .img-2 {
  height: 600px;
  object-fit: cover;
  margin: 0 0 10px 0;
}

/* footer section */
footer {
  background-color: coral;
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}